.Grid video{
    background-color: pink;
    min-width: 200px;
    box-shadow: -3px 1px 13px 6px;
    cursor: pointer;
}
.Grid{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: gainsboro
}
.Grid video:fullscreen{
 width: 100%;
 height: 100%;
} 